/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Herobrine program common DTS includes */
#include "../adc.dtsi"
#include "../common.dtsi"
#include "../i2c.dtsi"
#include "../interrupts.dtsi"
#include "../keyboard.dtsi"
#include "../default_gpio_pinctrl.dtsi"
#include "../display.dtsi"
#include "../switchcap.dtsi"
#include "../usbc.dtsi"

/* Evoker project DTS includes*/
#include "gpio.dtsi"
#include "led_pins.dtsi"
#include "led_policy.dtsi"
#include "motionsense.dtsi"
#include <cros/thermistor/thermistor.dtsi>

/* evoker overrides follow... */
/* battery overrides */
/ {
	batteries {
		default_battery: pc_vp_bp153 {
			compatible = "smp,pc-vp-bp153", "battery-smart";
		};
		ap16l5j {
			compatible = "panasonic,ap16l5j", "battery-smart";
		};
	};

};

/* i2c overrides */
&i2c1_0 {
	ppc_port0_alt: sn5s330@40 {
		compatible = "ti,sn5s330";
		status = "okay";
		reg = <0x40>;
		/* a duplicate of the <&gpio_usb_c0_swctl_int_odl> node in
		 * "named-gpios". This is the Zephyr preferred style,
		 * the "named-gpios" node will be dealt with at a later date.
		 */
		irq-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	};
};

&i2c2_0 {
	ppc_port1_alt: sn5s330@40 {
		compatible = "ti,sn5s330";
		status = "okay";
		reg = <0x40>;
		/* a duplicate of the <&gpio_usb_c1_swctl_int_odl> node in
		 * "named-gpios". This is the Zephyr preferred style,
		 * the "named-gpios" node will be dealt with at a later date.
		 */
		irq-gpios = <&gpio4 0 GPIO_ACTIVE_LOW>;
	};
};

/* interrupts overrides */
/ {
	gpio-interrupts {
		/delete-node/ usb_a0_oc;
	};
};

/* adc0 overrides */
&adc0 {
	status = "okay";
	pinctrl-0 = <&adc0_chan1_gp44
		     &adc0_chan2_gp43
		     &adc0_chan3_gp42
		     &adc0_chan4_gp41>;
	pinctrl-names = "default";
};

/* temp sensors */
/ {
	named-adc-channels {
		adc_temp_sensor_1: temp_sensor_1 {
			enum-name = "ADC_TEMP_SENSOR_1";
			io-channels = <&adc0 4>;
		};
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
		charger {
			power-good-pin = <&gpio_en_pp5000_s5>;
			sensor = <&temp_charger>;
		};
	};

	temp_charger: charger {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_51K1_47K_4050B>;
		adc = <&adc_temp_sensor_1>;
	};
};

&thermistor_3V3_51K1_47K_4050B {
	status = "okay";
};
