# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if ZTEST

config EMUL_POWER_SIGNALS
	bool "Enable Power Signals Emulator"
	select AP_PWRSEQ_POWER_SIGNALS
	help
	  Power signals emulator imitates the behavior of power signals
	  that interact with the EC within a given platform. It enables testing
	  AP Power Sequence execution in a virtual environment.

if EMUL_POWER_SIGNALS

module = EMUL_POWER_SIGNALS
module-str = Power Signals Emulator
source "subsys/logging/Kconfig.template.log_config"

config EMUL_POWER_SIGNALS_WORK_QUEUE_STACK_SIZE
	int "Power Signals Emulator internal work queue stack size"
	default 1024
	help
	  Power Signal Emulator has its own dedicated work queue, this defines
	  work queue thread stack size.

config EMUL_POWER_SIGNALS_WORK_QUEUE_PRIO
	int "Power Signals Emulator internal work queue thread priority"
	default 0
	help
	  Defines work queue thread thread priority.

endif # EMUL_POWER_SIGNALS

config EMUL_AP_PWRSEQ_DRIVER
	bool "Enable Ap Power Sequence Emulator"
	depends on AP_PWRSEQ_DRIVER
	help
	  AP Power sequence emulator provides minimum functionality for testing
	  power sequence action handlers while using existing API's and macros.
endif # ZTEST
