/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	tarkin-fw-config {
		compatible = "cros-ec,cbi-fw-config";

		kb_bl {
			enum-name = "FW_KB_BL";
			start = <1>;
			size = <1>;
			kb-bl-not-present {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_BL_NOT_PRESENT";
				value = <0>;
			};
			kb-bl-present {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_BL_PRESENT";
				value = <1>;
                		default;
			};
		};

		kb_vol_up {
			enum-name = "FW_KB_VOL_UP";
			start = <2>;
			size = <2>;
			kb_vol_up_0 {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_VOL_UP_DEFAULT";
				value = <0>;
			};
			kb_vol_up_1 {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_VOL_UP_T13";
				value = <1>;
			};
			kb_vol_up_2 {
				compatible = "cros-ec,cbi-fw-config-value";
				enum-name = "FW_KB_VOL_UP_T15";
				value = <2>;
			};
		};
	};
};
