/* Copyright 2021 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "ite_i2c.dtsi"

&i2c0 {
	charger_bc12_port1: rt9490@53 {
		compatible = "richtek,rt9490";
		status = "okay";
		reg = <0x53>;
		irq = <&int_usb_c1_bc12_charger>;
	};
};

&i2c4 {
	tusb1064_mux_1: tusb1064-mux-1@44 {
		compatible = "ti,tusb1064";
		reg = <0x44>;
		board-init = "tusb1064_mux_1_board_init";
	};
};
