# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_OCELOT_ITE
	bool "Google Ocelot ITE (it82002) add-in card"
	help
	  Build Google ITE it82002 based Ocelot add-in card.
	  This board is for use with the Intel RVP using the
	  MECC 2.1 connector.

config BOARD_OCELOT_NUVOTON
	bool "Google Ocelot Nuvoton (npcx9m7f) add-in card"
	help
	  Build Google Nuvoton npcx9m7f based Ocelot add-in card.
	  This board is for use with the Intel RVP using the
	  MECC 2.1 connector.

module = Oceolot
module-str = Ocelot board-specific code
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
