# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

choice
	prompt "select the test suite"

config TEST_AXII
	bool "Run the tests intended for Axii"
	help
	  Run the tests for Axii board.

config TEST_SPIKYROCK
	bool "Run the tests intended for Spikyrock"
	help
	  Run the tests for Spikyrock board.
	  vivaldi_Keyboard test.
endchoice

source "Kconfig.zephyr"
