# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Include LLVM Kconfig from Zephyr
source "${ZEPHYR_BASE}/cmake/toolchain/llvm/Kconfig"
