/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
/ {
	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_ec_i2c_pd: ec_i2c_pd {
			i2c-port = <&i2c1>;
			enum-names = "I2C_PORT_PD";
		};
		i2c_ec_i2c_prog: ec_i2c_prog {
			i2c-port = <&i2c2>;
			enum-names = "I2C_PORT_PROG";
		};
		i2c_ec_i2c_charger: ec_i2c_charger {
			i2c-port = <&i2c4>;
			enum-names = "I2C_PORT_CHARGER", "I2C_PORT_BATTERY";
		};
		i2c_ec_i2c_sensor: ec_i2c_sensor {
			i2c-port = <&i2c5>;
			enum-names = "I2C_PORT_SENSOR";
		};
	};
};

&pinctrl {
	i2c5_clk_gpe1_default: i2c5_clk_gpe1_default {
		gpio-voltage = "1v8";
	};
	i2c5_data_gpe2_default: i2c5_data_gpe2_default {
		gpio-voltage = "1v8";
	};
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_clk_gpc1_default
		&i2c1_data_gpc2_default>;
	pinctrl-names = "default";
	label = "I2C_PORT_PD";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_clk_gpc7_default
		&i2c2_data_gpd0_default>;
	pinctrl-names = "default";
	label = "I2C_PORT_PROG";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c4 {
	status = "okay";
	pinctrl-0 = <&i2c4_clk_gpe0_default
		&i2c4_data_gpe7_default>;
	pinctrl-names = "default";
	label = "I2C_PORT_CHARGER";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c5 {
	status = "okay";
	pinctrl-0 = <&i2c5_clk_gpe1_default
		     &i2c5_data_gpe2_default>;
	pinctrl-names = "default";

	label = "I2C_PORT_SENSOR";
	clock-frequency = <I2C_BITRATE_FAST>;
	dsp_service: dsp-service@29 {
		compatible = "cros,dsp-service";
		reg = <0x29>;
		int-gpios = <&gpioh 6 (GPIO_ACTIVE_LOW |
				GPIO_VOLTAGE_1P8 |
				GPIO_OPEN_DRAIN)>;
	};
};
