/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <dt-bindings/gpio_defines.h>

/* typec-aic1-power */
&pd_pow_i2c {
	pd_pow_port0: rts54-pdc@66 {
		compatible = "realtek,rts54-pdc";
		reg = <0x66>;
		irq-gpios = <PD_POW_IRQ_GPIO GPIO_ACTIVE_LOW>;
		ccd;
	};
	pd_pow_port1: rts54-pdc@67 {
		compatible = "realtek,rts54-pdc";
		reg = <0x67>;
		irq-gpios = <PD_POW_IRQ_GPIO GPIO_ACTIVE_LOW>;
		no-fw-update;
	};
	pd_pow_port2: rts54-pdc@68 {
		compatible = "realtek,rts54-pdc";
		reg = <0x68>;
		irq-gpios = <PD_POW_IRQ_GPIO GPIO_ACTIVE_LOW>;
	};
};

&gpio_pdc_pow_irq {
	no-auto-init;
};
