/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	batteries {
		default_battery: smp_l21m4pg0 {
			compatible = "smp,l21m4pg0", "battery-smart";
		};
		byd_l21b2pg2 {
			compatible = "byd,l21b2pg2", "battery-smart";
		};
		sunwoda_l21d2pg2 {
			compatible = "sunwoda,l21d2pg2", "battery-smart";
		};
	};
};
