Language:                                  Cpp
AllowShortIfStatementsOnASingleLine:       false
BasedOnStyle:                              LLVM
BreakBeforeBraces:                         Linux
ColumnLimit:                               80
ContinuationIndentWidth:                   8
IndentCaseLabels:                          false
IndentWidth:                               8
SortIncludes:                              false
UseTab:                                    Always
