/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <cros/cbi_flash.dtsi>

/* Rex program common DTSI includes */
#include "../fan.dtsi"
#include "gpio.dtsi"
#include "../interrupts.dtsi"
#include "../keyboard.dtsi"
#include "../power_signals.dtsi"
#include "../rex.dtsi"
#include "../usbc.dtsi"

/* Screebo project DTS includes */
#include "cbi.dtsi"
#include "keyboard.dtsi"
#include "led_pins.dtsi"
#include "led_policy.dtsi"
#include "temp_sensors.dtsi"

/ {
	named-gpios {
		/delete-node/ ec-i2c-sensor-scl;
		/delete-node/ ec-i2c-sensor-sda;

		ioex_usb_c1_rt_rst_ls_l: usb_c1_rt_rst_ls_l {
			gpios = <&ioex_c1_port0 7 0>;
			no-auto-init;
		};
		ioex_usb_c1_frs_en: usb_c1_frs_en {
			gpios = <&ioex_c1_port0 6 0>;
			no-auto-init;
		};

	};

	unused-pins {
		compatible = "unused-gpios";

		unused-gpios =
			<&gpiob 4 0>, /* ec-i2c-sensor-sda */
			<&gpiob 5 0>, /* ec-i2c-sensor-scl */
			<&gpio5 6 0>, /* ec_imu_int_r_l */
			<&gpiod 4 0>, /* ec_als_rgb_int_r_l */
			<&gpio8 1 0>, /* ec_accel_int_r_l */
			<&gpio9 5 0>, /* tablet_mode_l */
			<&gpio6 0 0>; /* led_4_l */
	};

	gpio-interrupts {
		/delete-node/ ec_imu;
		/delete-node/ ec_als_rgb;
		/delete-node/ ec_accel;
		/delete-node/ volume_up;
		/delete-node/ volume_down;
		/delete-node/ tablet_mode;
	};

	batteries {
		default_battery: celxpert_c340152 {
			compatible = "celxpert,c340152", "battery-smart";
		};
	};

	aliases {
		/* GPIO37 */
		nct-usb-c1-rst-odl = &gpio_usb_c1_rst_odl;

		/* GPIO72 */
		hbr-usb-c1-rt-int-odl = &gpio_usb_c1_rt_int_odl;

		/* GPIOB1 */
		hbr-usb-c1-rt-pwr-en = &gpio_usb_c1_rt_3p3_sx_en;

		/* NCT38xx_C1 GPIO07 */
		hbr-usb-c1-rt-rst = &ioex_usb_c1_rt_rst_ls_l;

		/* NCT38xx_C1 GPIO06 */
		syv-usb-c1-frs-en = &ioex_usb_c1_frs_en;
	};
};

/* ADC and GPIO alt-function specifications */
&adc0 {
	pinctrl-0 = <&adc0_chan0_gp45
		     &adc0_chan1_gp44
		     &adc0_chan3_gp42
		     &adc0_chan7_gpe1
		     &adc0_chan8_gpf1
		     &adc0_chan11_gpc7>;
	pinctrl-names = "default";
};

&i2c3_0 {
	usb_c1_hb_retimer: jhl9040r-c1@54 {
		compatible = "intel,jhl9040r";
		reg = <0x54>;
		ls-en-pin = <&gpio_usb_c1_rt_3p3_sx_en>;
		int-pin = <&gpio_usb_c1_rt_int_odl>;
		reset-pin = <&gpio_usb_c1_hbr_rst_l>;
	};
};

&usb_c0_hb_retimer {
	reset-pin = <&gpio_usb_c0_hbr_rst_l>;
};

&i2c4_1 {
	/delete-node/ rt1716@4e;

	nct3807_c1: nct38xx@73 {
		compatible = "nuvoton,nct38xx";
		reg = <0x73>;

		tcpc_nct38xx_port1: nct38xx-tcpc {
			compatible = "nuvoton,nct38xx-tcpc";
			gpio-dev = <&nct38xx_gpio_C1>;
			tcpc-flags = <(
				TCPC_FLAGS_TCPCI_REV2_0 |
				TCPC_FLAGS_TCPCI_REV2_0_NO_VSAFE0V)>;
			/* a duplicate of the <&gpio_usb_c1_tcpc_int_odl> node in
			* "named-gpios". This is the Zephyr preferred style,
			* the "named-gpios" node will be dealt with at a later date.
			*/
			irq-gpios = <&gpio3 4 GPIO_ACTIVE_LOW>;
			/* a duplicate of the <&gpio_usb_c1_rst_odl> node in
			* "named-gpios". This is the Zephyr preferred style,
			* the "named-gpios" node will be dealt with at a later date.
			*/
			rst-gpios = <&gpio3 7 0>;
		};

		nct38xx_gpio_C1: nct38xx-gpio {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "nuvoton,nct38xx-gpio";
			label = "NCT3807_C1";

			ioex_c1_port0: gpio@0 {
				compatible = "nuvoton,nct38xx-gpio-port";
				reg = <0x0>;
				label = "NCT3807_C1_GPIO0";
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <8>;
				pin_mask = <0xff>;
				pinmux_mask = <0xf7>;
			};
			ioex_c1_port1: gpio@1 {
				compatible = "nuvoton,nct38xx-gpio-port";
				reg = <0x1>;
				label = "NCT3807_C1_GPIO1";
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <8>;
				pin_mask = <0xff>;
			};
		};
	};

	tcpc_ps8815_port1: ps8xxx@b {
		compatible = "parade,ps8xxx";
		reg = <0xb>;
		tcpc-flags = <(
			TCPC_FLAGS_TCPCI_REV2_0 |
			TCPC_FLAGS_TCPCI_REV2_0_NO_VSAFE0V |
			TCPC_FLAGS_CONTROL_VCONN |
			TCPC_FLAGS_CONTROL_FRS)>;
		/* a duplicate of the <&gpio_usb_c1_tcpc_int_odl> node in
		 * "named-gpios". This is the Zephyr preferred style,
		 * the "named-gpios" node will be dealt with at a later date.
		 */
		irq-gpios = <&gpio3 4 GPIO_ACTIVE_LOW>;
		/* a duplicate of the <&gpio_usb_c1_rt_rst_r_odl> node in
		 * "named-gpios". This is the Zephyr preferred style,
		 * the "named-gpios" node will be dealt with at a later date.
		 */
		rst-gpios = <&gpio7 4 0>;
		is-alt;
	};
};

&i2c6_1 {
	/delete-node/ usb-c1-kb8010-retimer@8;
	/delete-node/ ktu1125@38;
	/delete-node/ ppc_syv@40;
	/delete-node/ usb-c1-anx7452-retimer@10;
	/delete-node/ usb-c1-hb-retimer@56;

	ppc_syv_port1: ppc_syv@40 {
		compatible = "silergy,syv682x";
		status = "okay";
		reg = <0x40>;
		frs_en_gpio = <&ioex_usb_c1_frs_en>;
		/* a duplicate of the <&gpio_usb_c1_ppc_int_odl> node in
		 * "named-gpios". This is the Zephyr preferred style,
		 * the "named-gpios" node will be dealt with at a later date.
		 */
		irq-gpios = <&gpiof 5 GPIO_ACTIVE_LOW>;
	};
};

&usbc_port0 {
	usb_mux_chain_usb3_port0: usb-mux-chain-0-usb3 {
		compatible = "cros-ec,usb-mux-chain";
		usb-muxes = <&virtual_mux_c0>;
		alternative-chain;
	};
};

&usbc_port1 {
	/delete-node/ usb-mux-chain-1-anx7452;
	/delete-node/ usb-mux-chain-1-kb8010;

	ppc = <&ppc_syv_port1>;
	tcpc = <&tcpc_nct38xx_port1>;
	usb-mux-chain-1 {
		usb-muxes = <&usb_c1_hb_retimer &virtual_mux_c1>;
	};
};

&fan0 {
	pwms = <&pwm5 0 PWM_KHZ(25) PWM_POLARITY_NORMAL>;
	rpm_min = <1710>;
	rpm_start = <1710>;
	rpm_max = <5700>;
};

&i2c7_0 {
	cbi_eeprom: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <2048>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};
};

&cbi_flash {
	/*
	 * CBI section size is 0x1000 bytes, the CBI portion lies at the end of
	 * EC_RO section. EC_RO section ends at 0x50000 byte which is the offset
	 */
	offset = <0x50000>;
	size = <0x1000>;
};

&kblight {
	pwms = <&pwm3 0 PWM_KHZ(25) PWM_POLARITY_NORMAL>;
};
