/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <cros/thermistor/thermistor.dtsi>

/ {
	named-adc-channels {
		compatible = "named-adc-channels";

		adc_ddr_soc: ddr_soc {
			enum-name = "ADC_TEMP_SENSOR_1";
			io-channels = <&adc0 0>;
		};
		adc_vcc: vcc {
			enum-name = "ADC_TEMP_SENSOR_2";
			io-channels = <&adc0 1>;
		};
		adc_ambient: ambient {
			enum-name = "ADC_TEMP_SENSOR_3";
			io-channels = <&adc0 8>;
		};
		adc_charger: charger {
			enum-name = "ADC_TEMP_SENSOR_4";
			io-channels = <&adc0 7>;
		};
		adc_hw_shutdown: hw_shutdown {
			enum-name = "ADC_TEMP_SENSOR_5";
			io-channels = <&adc0 3>;
		};
		adc_typec: typec {
			enum-name = "ADC_TEMP_SENSOR_6";
			io-channels = <&adc0 11>;
		};
	};

	temp_ddr_soc: ddr_soc {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_ddr_soc>;
	};
	temp_ambient: ambient {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_ambient>;
	};
	temp_charger: charger {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_charger>;
	};
	temp_vcc: vcc {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_vcc>;
	};
	temp_hw_shutdown: hw_shutdown {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_hw_shutdown>;
	};
	temp_typec: typec {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_30K9_47K_4050B>;
		adc = <&adc_typec>;
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
		ddr_soc {
			temp_fan_off = <50>;
			temp_fan_max = <80>;
			temp_host_high = <90>;
			temp_host_halt = <95>;
			temp_host_release_high = <85>;
			sensor = <&temp_ddr_soc>;
		};
		ambient {
			temp_fan_off = <35>;
			temp_fan_max = <80>;
			temp_host_high = <90>;
			temp_host_halt = <95>;
			temp_host_release_high = <85>;
			sensor = <&temp_ambient>;
		};
		charger {
			temp_fan_off = <50>;
			temp_fan_max = <85>;
			temp_host_high = <95>;
			temp_host_halt = <100>;
			temp_host_release_high = <90>;
			sensor = <&temp_charger>;
		};
		typec {
			temp_fan_off = <50>;
			temp_fan_max = <85>;
			temp_host_high = <90>;
			temp_host_halt = <95>;
			temp_host_release_high = <85>;
			sensor = <&temp_typec>;
		};
		vcc_in {
			temp_fan_off = <45>;
			temp_fan_max = <75>;
			temp_host_high = <85>;
			temp_host_halt = <90>;
			temp_host_release_high = <80>;
			sensor = <&temp_vcc>;
		};
	};
};

&thermistor_3V3_30K9_47K_4050B {
	status = "okay";
};
