[MASTER]
init-hook='import sys; sys.path.extend(["zephyr/zmake", "/usr/lib64/python3.6/site-packages"])'

[MESSAGES CONTROL]

disable=bad-continuation,bad-whitespace,format,fixme,wrong-import-order

[format]

max-line-length=88
string-quote=double

[BASIC]
good-names=
    e,
