/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	chosen {
		cros-fp,fingerprint-sensor = &fpc1025;
	};
};

&spi0 {
	fpc1025: fpc1025@0 {
		compatible = "fpc,fpc1025";
		reg = <0>;
		spi-max-frequency = <4000000>;

		width = <160>;
		height = <160>;
		bits-per-pixel = <8>;
		v4l2-pixel-format = "V4L2_PIX_FMT_GREY";

		irq-gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	};
};
