/* Copyright 2026 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* mensa program common DTS includes */

#include <cros/integrated_fwid.dtsi>

#include "../mensa_stub.dtsi"

/* mensa project DTS includes */

/* mensa overrides follow... */
