/* Copyright 2026 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
        grogu-fw-config {
                compatible = "cros-ec,cbi-fw-config";

                /*
                 * FW_CONFIG field to indicate the usbc number.
                 */
                usbc-ports {
                        enum-name = "USBC_PORTS";
                        start = <0>;
                        size = <2>;

                        two-ports {
                                compatible = "cros-ec,cbi-fw-config-value";
                                enum-name = "TWO_PORTS";
                                value = <0>;
                        };
                        one-port {
                                compatible = "cros-ec,cbi-fw-config-value";
                                enum-name = "ONE_PORT";
                                value = <1>;
                        };
                };

                /*
                 * FW_CONFIG field to indicate the DB config.
                 */
                db-type {
                        enum-name = "DB_TYPE";
                        start = <2>;
                        size = <2>;

                        none {
                                compatible = "cros-ec,cbi-fw-config-value";
                                enum-name = "DB_NONE";
                                value = <0>;
                        };
                        db_1a {
                                compatible = "cros-ec,cbi-fw-config-value";
                                enum-name = "DB_1A";
                                value = <1>;
                        };
                 };
        };
};
