/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	usbc {
		#address-cells = <1>;
		#size-cells = <0>;

		usbc_port0: port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;
			tcpc = <&tcpc_port0>;
			chg = <&charger>;
			ppc = <&ppc_port0>;

			usb-mux-chain-port0-ps8833 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&amd_fp8_port0 &ps8833_port0>;
			};

			usb_mux_chain_port0_ps8828: usb-mux-chain-port0-ps8828 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&amd_fp8_port0 &ps8828_port0>;
				alternative-chain;
			};
		};

		usbc_port1: port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;

			usb_mux_chain_port1_ps8833: usb-mux-chain-port1-ps8833 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&amd_fp8_port1 &ps8833_port1>;
			};

			usb_mux_chain_port1_tcpci: usb-mux-chain-port1-tcpci {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&amd_fp8_port1 &tcpci_mux_c1>;
				alternative-chain;
			};
		};
		port1-muxes {
			tcpci_mux_c1: tcpci-mux-c1 {
				compatible = "cros-ec,usbc-mux-tcpci";
				hpd-update = "ps8xxx_tcpc_update_hpd_status";
			};
		};
	};
};
