/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	cros-keyscan {
		compatible = "cros-ec,keyscan";
		actual-key-mask = <
			0x48  /* C0 */
			0xff  /* C1 */
			0xff  /* C2 */
			0xff  /* C3 */
			0xff  /* C4 */
			0xff  /* C5 */
			0xff  /* C6 */
			0xa4  /* C7 */
			0xff  /* C8 */
			0xff  /* C9 */
			0x55  /* C10 */
			0xfb  /* C11 */
			0xca  /* C12 */
			0x40  /* C13 */
			0x0a  /* C13 */
		>;
		min-post-scan-delay = <2000>;
	};
};

&kbd_config_0 {
       vivaldi-codes = <
	       VIVALDI_TK_BACK              /* T1 */
	       VIVALDI_TK_REFRESH           /* T2 */
	       VIVALDI_TK_FULLSCREEN        /* T3 */
	       VIVALDI_TK_OVERVIEW          /* T4 */
	       VIVALDI_TK_SNAPSHOT          /* T5 */
	       VIVALDI_TK_BRIGHTNESS_DOWN   /* T6 */
	       VIVALDI_TK_BRIGHTNESS_UP     /* T7 */
	       VIVALDI_TK_VOL_MUTE          /* T8 */
	       VIVALDI_TK_VOL_DOWN          /* T9 */
	       VIVALDI_TK_VOL_UP            /* T10 */
	       VIVALDI_TK_MICMUTE           /* T11 */
	       VIVALDI_TK_MENU              /* T12 */
	       VIVALDI_TK_PREV_TRACK        /* T13 */
	       VIVALDI_TK_PLAY_PAUSE        /* T14 */
	       VIVALDI_TK_NEXT_TRACK        /* T15 */
       >;
};

&cros_kb_raw {
	status = "okay";
	/* No KSO2 (it's inverted and implemented by GPIO) */
	pinctrl-0 = <&ksi0_default
		     &ksi1_default
		     &ksi2_default
		     &ksi3_default
		     &ksi4_default
		     &ksi5_default
		     &ksi6_default
		     &ksi7_default
		     &kso0_default
		     &kso1_default
		     &kso2_default
		     &kso3_default
		     &kso4_default
		     &kso5_default
		     &kso6_default
		     &kso7_default
		     &kso8_default
		     &kso9_default
		     &kso10_default
		     &kso11_default
		     &kso12_default
		     &kso13_default
		     &kso14_default
	>;
	pinctrl-names = "default";
};
