/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "../../boards/native_sim.overlay"

/*
 * The TCPCI test verfies the mux behavior in two configurations:
 *   flags = USB_MUX_FLAG_NOT_TCPC;
 *   flags = 0;
 *
 * When USB_MUX_FLAG_NOT_TCPC is set, the TCPCI mux driver must initialize
 * the I2C bus and address from the devicetree.
 *
 * The TCPCI mux doesn't have it's owm emulator and sends it's I2C transactions
 * through the normal TCPCI driver, which then connects to the TCPCI emulator.
 *
 * Use 2 compaible strings here so that the same I2C device node gets setup for
 * both the emulator and the TPCI mux.
 */
&tcpci_emul {
	compatible = "cros,tcpci-generic-emul", "cros-ec,usbc-mux-tcpci";
};

/ {
	usbc {
		port0@0 {
			usb-mux-chain-0 {
				usb-muxes = <&tcpci_emul &virtual_mux_c0>;
			};
		};
	};
};
