# Copyright 2022 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kernel Configuration
CONFIG_SOC_SERIES_MEC172X=y

# Platform Configuration
CONFIG_SOC_MEC172X_NSZ=y
CONFIG_BOARD_MEC1727=y
CONFIG_RTOS_TIMER=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32768
CONFIG_SYS_CLOCK_TICKS_PER_SEC=32768

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y

# Enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Pinmux Driver
CONFIG_PINMUX=y

# Pinctrl Driver
CONFIG_PINCTRL=y

# GPIO Controller
CONFIG_GPIO=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y

# WATCHDOG configuration
CONFIG_WATCHDOG=y
CONFIG_WDT_XEC=y

# Power Management
#CONFIG_PM=y
#CONFIG_PM_POLICY_APP=y
#CONFIG_UART_CONSOLE_INPUT_EXPIRED=y

# BBRAM
CONFIG_BBRAM=y
CONFIG_BBRAM_XEC=y

# SPI
CONFIG_SPI=y
# MCHP build config error CONFIG_SPI_FLASH=y

# Flash
CONFIG_FLASH=y
CONFIG_SPI_NOR=y
# disabling this causes build error: calling function to read JEDEC ID
# MEC1727 internal SST25PF040 does not support SFDP
CONFIG_FLASH_JESD216_API=y
