# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

choice
	prompt "select the test suite"

config TEST_GERALT
	bool "Run the tests intended for geralt"
	help
	  Run the tests for geralt common code.
endchoice

config TEST_CIRI
	bool "Run the tests intended for ciri"
	help
	  Include board_ciri test into the binary to test
	  board_config.c.

source "Kconfig.zephyr"
