# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig AP
	bool "Enable AP SoC support code"
	default y
	help
	  This device has an application processor (AP) on-board and
	  support code should be enabled.

if AP

choice
	prompt "SoC chipset generation"

config AP_X86_INTEL_CML
	bool "AP is CML chipset"
	select AP_X86_INTEL
	help
	  The application processor is Intel Comet Lake (CML) chipset.

config AP_X86_INTEL_TGL
	bool "AP is TGL chipset"
	select AP_X86_INTEL
	help
	  The application processor is Intel Tiger Lake (TGL) chipset.

config AP_X86_INTEL_ADL
	bool "AP is ADL chipset"
	select AP_X86_INTEL
	help
	  The application processor is Intel Alder Lake (ADL) chipset.

config AP_X86_AMD
	bool "AP is an AMD chipset"
	select AP_X86
	help
	  The application processor is a product of AMD.

config AP_X86_INTEL_MTL
	bool "AP is MTL chipset"
	select AP_X86_INTEL
	help
	  The application processor is Intel Meteor Lake (MTL) chipset.

config AP_ARM_MTK_MT8192
	bool "MediaTek MT8192"
	select AP_AARCH64
	help
	  The application processor is a MediaTek MT8192 processor.

config AP_ARM_MTK_MT8186
	bool "MediaTek MT8186"
	select AP_AARCH64
	help
	  The application processor is a MediaTek MT8186 processor.

config AP_ARM_MTK_MT8188
	bool "MediaTek MT8188"
	select AP_AARCH64
	help
	  The application processor is a MediaTek MT8188 processor.

config AP_ARM_MTK_MT8196
	bool "MediaTek MT8196"
	select AP_AARCH64
	help
	  The application processor is a MediaTek MT8196 processor.

config AP_ARM_QUALCOMM_SC7180
	bool "Qualcomm Snapdragon SC7180"
	select AP_AARCH64
	help
	  The application processor is a Qualcomm Snapdragon SC7180
	  ARMv8 processor.

config AP_ARM_QUALCOMM_SC7280
	bool "Qualcomm Snapdragon SC7280"
	select AP_AARCH64
	help
	  The application processor is a Qualcomm Snapdragon SC7280
	  ARMv8 processor.

endchoice

# Invisible meta-symbols generated by the selected chipset.
config AP_X86_INTEL
	bool
	select AP_X86
	help
	  The application processor (AP) is an Intel SoC.

config AP_X86
	bool
	help
	  The application processor (AP) is X86-like.

config AP_AARCH64
	bool
	select AP_ARM
	help
	  The application processor (AP) is 64-bit ARMv8 architecture.

config AP_ARM
	bool
	help
	  The application processor (AP) is ARM-like.

endif # AP
