# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config HW_TEST_ABORT
	bool "Abort test"
	select ZTEST
	depends on PLATFORM_EC_PANIC
	help
	  The test verify if abort() call works correctly and validates panic
	  data.

config HW_TEST_AES
	bool "AES test"
	select ZTEST
	help
	  The test verifies AES functions.

config HW_TEST_BENCHMARK
	bool "Benchmark test"
	select ZTEST
	help
	  The test verifies benchmark feature.

config HW_TEST_BORINGSSL_CRYPTO
	bool "Benchmark test"
	select ZTEST
	help
	  The test verifies the boringssl library.

config HW_TEST_CORTEXM_FPU
	bool "Cortex-M FPU test"
	select ZTEST
	depends on BOARD_FINGERPRINT

config HW_TEST_CRC
	bool "CRC test"
	select ZTEST

config HW_TEST_EXCEPTION
	bool "Exception test"
	select ZTEST

config HW_TEST_FLASH_PHYSICAL
	bool "Flash physical test"
	select ZTEST
	depends on FLASH

config HW_TEST_FLASH_WRITE_PROTECT
	bool "Flash write protect test"
	select ZTEST
	depends on PLATFORM_EC_FLASH_CROS

config HW_TEST_FP_TRANSPORT
	bool "FP transport layer test"
	select ZTEST
	depends on EC_HOST_CMD

config HW_TEST_FPSENSOR_AUTH_CRYPTO_STATEFUL
	bool "FP sensor auth crypto stateful test"
	select ZTEST
	select MOCK_ROLLBACK

config HW_TEST_FTRAPV
	bool "ftrapv test"
	select ZTEST
	depends on BOARD_FINGERPRINT
	help
	  The test verify if int overflow causes a crash.

config HW_TEST_LIBC_PRINTF
	bool "libc printf test"
	select ZTEST
	help
	  Prints a hardcoded string to check by a test runner.

config HW_TEST_MALLOC
	bool "malloc test"
	select ZTEST
	help
	  The test verifies basic malloc operations.

config HW_TEST_PANIC
	bool "Panic test"
	select ZTEST
	depends on ARM
	help
	  The test verifies panic data.

config HW_TEST_PRINTF
	bool "printf test"
	select ZTEST
	help
	  The test verifies printf related functions.

config HW_TEST_QUEUE
	bool "Queue test"
	select ZTEST
	help
	  The test verifies queue functionality in EC.

config HW_TEST_RESTRICTED_CONSOLE
	bool "Restricted console test"
	select ZTEST
	depends on BOARD_FINGERPRINT
	help
	  The test verifies restricted console.

config HW_TEST_ROLLBACK
	bool "Rollback test"
	select ZTEST
	depends on BOARD_FINGERPRINT
	help
	  The test verifies rollback regions functionality.

config HW_TEST_ROLLBACK_ENTROPY
	bool "Rollback entropy test"
	select ZTEST
	depends on PLATFORM_EC_ROLLBACK
	help
	  The test verifies rollback entropy functionality.

config HW_TEST_SHA256
	bool "SHA256 test"
	select ZTEST
	help
	  The test verifies SHA256 functions.

config HW_TEST_SHA256_UNROLLED
	bool "SHA256 unrolled test"
	select ZTEST
	select PLATFORM_EC_SHA256_UNROLLED
	help
	  The test verifies SHA256 functions with forced unrolled config.

config HW_TEST_STATIC_IF
	bool "STATIC_IF test"
	select ZTEST
	help
	  The test verifies SHA256 functions with forced unrolled config.

config HW_TEST_STDLIB
	bool "stdlib test"
	select ZTEST
	help
	  The test builtin stdlib functions used by Zephyr.

config HW_TEST_SYSTEM_IS_LOCKED
	bool "system_is_locked test"
	select ZTEST
	help
	  The test verifies system_is_locked function with wp on/off.

config HW_TEST_UTILS
	bool "Utils test"
	select ZTEST
	help
	  The test verifies util functions.

config HW_TEST_UTILS_STR
	bool "Utils string test"
	select ZTEST
	help
	  The test verifies util string functions.

config MOCK_ROLLBACK
	bool "Mock rollback for tests"