/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	batteries {
		default_battery: c235 {
			compatible = "as3gwrc3ka,c235-41", "battery-smart";
		};
	};
};
