/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&lid_rot_ref {
	mat33 = <0 1 0
		1 0 0
		0 0 (-1)>;
};

&base_rot_ref {
	mat33 = <1 0 0
		0 (-1) 0
		0 0 (-1)>;
};

