/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	usbc {
		#address-cells = <1>;
		#size-cells = <0>;

		/* TODO(b/227359727): kingler: convert USB-C configuration to
		 * devicetree
		 */
		port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;

			chg {
				compatible = "intersil,isl923x";
				status = "okay";
				port = <&i2c_charger>;
			};
		};

		port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;
		};
	};
};
