/*
 * Copyright (c) 2020 The Chromium OS Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nuvoton/npcx7m6fb.dtsi>
#include <gpio_defines.h>

/ {
	model = "Google Volteer EC";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,flash = &flash0;
	};

	named-gpios {
		compatible = "gpio-keys";

		en_pp3300_a {
			gpios = <&gpioa 3 GPIO_OUTPUT_LOW>;
			label = "EN_PP3300_A";
		};
		en_pp5000_a {
			gpios = <&gpioa 4 GPIO_OUTPUT_LOW>;
			label = "EN_PP5000_A";
		};
		en_ppvar_vccin {
			gpios = <&gpio4 4 GPIO_OUTPUT_LOW>;
			label = "EN_PPVAR_VCCIN";
		};
		ec_pch_dsw_pwrok {
			gpios = <&gpioc 0 GPIO_OUTPUT_LOW>;
			label = "EC_PCH_DSW_PWROK";
		};
		tp_1 {
			gpios = <&gpio8 6 (GPIO_INPUT | GPIO_PULL_UP)>;
			label = "EC_KB_BL_EN";
		};
		tp_2 {
			gpios = <&gpio5 7 (GPIO_INPUT | GPIO_PULL_UP)>;
			label = "EC_ESPI_ALERT_L";
		};
		ec_batt_pres_odl {
			gpios = <&gpioe 1 GPIO_INPUT>;
			label = "EC_BATT_PRES_ODL";
		};
	};

};

/* Update flash size to 512KB from 196KB since we are using C variant */
&flash0 {
	reg = <0x10090000 0x80000>;
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl = <&altc_uart1_sl2>; /* Use UART1_SL2 ie. PIN64.65 */
};
