# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if USBC_PDC_TRACE_MSG

config USBC_PDC_TRACE_MSG_FIFO_SIZE
	int "PDC message tracing FIFO size"
	range 128 65536
	default 1024
	help
	  This is the byte size of the PDC message tracing FIFO. When
	  tracing is active, the FIFO needs to be deep enough to absorb
	  delays on the AP side when retrieving messages. When the FIFO
	  is full, messages are tail-dropped which effectively disables
	  tracing until the FIFO drains. The FIFO is allocated in EC
	  RAM, so some sizing judgment may be necessary on ECs with
	  limited RAM.

config USBC_PDC_TRACE_MSG_PORT
	prompt "Default PDC trace port number"
	int
	range 0 255
	default 255 # EC_PDC_TRACE_MSG_PORT_NONE
	help
	  This is the initial PDC port number to trace before tracing
	  behavior can be specified using the EC console or host
	  commands. Use this if tracing is required during early boot
	  time. By default, tracing is disabled until explicitly
	  enabled. There are two special values to keep in mind:
	    255: EC_PDC_TRACE_MSG_PORT_NONE
	         tracing is disabled
	    254: EC_PDC_TRACE_MSG_PORT_ALL
	         tracing is enabled on all ports

config USBC_PDC_TRACE_MSG_CONSOLE_CMD
	bool "Enable pdc trace console command"
	default y
	help
	  Enable console command for printing PDC communication trace
	  messages.

config USBC_PDC_TRACE_MSG_HOST_CMD
	bool "Enable PDC_TRACE host command"
	default y
	help
	  Enable host command for collecting PDC communication trace
	  messages.

module = USBC_PDC_TRACE_MSG
module-str = usbc_pdc_trace_msg
source "subsys/logging/Kconfig.template.log_config"

endif # USBC_PDC_TRACE_MSG
