/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	aliases {
		i2c-0 = &i2c0_0;
		i2c-1 = &i2c1_0;
		i2c-2 = &i2c2_0;
		i2c-3 = &i2c3_0;
		i2c-4 = &i2c4_1;
		i2c-5 = &i2c5_0;
		i2c-7 = &i2c7_0;
	};

	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_tcpc0: tcpc0 {
			i2c-port = <&i2c0_0>;
			enum-name = "I2C_PORT_TCPC0";
		};

		i2c_tcpc1: tcpc1 {
			i2c-port = <&i2c1_0>;
			enum-name = "I2C_PORT_TCPC1";
		};

		battery {
			i2c-port = <&i2c2_0>;
			remote-port = <0>;
			enum-name = "I2C_PORT_BATTERY";
		};

		usb-mux {
			i2c-port = <&i2c3_0>;
			enum-name = "I2C_PORT_USB_MUX";
		};

		charger {
			i2c-port = <&i2c4_1>;
			enum-name = "I2C_PORT_CHARGER";
		};

		eeprom {
			i2c-port = <&i2c5_0>;
			enum-name = "I2C_PORT_EEPROM";
		};

		i2c_sensor: sensor {
			i2c-port = <&i2c6_1>;
			enum-name = "I2C_PORT_SENSOR";
		};

		i2c_soc_thermal: soc-thermal {
			i2c-port = <&i2c7_0>;
			enum-name = "I2C_PORT_THERMAL_AP";
		};
	};


};

&i2c0_0 {
	status = "okay";
	label = "I2C_TCPC0";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl0 {
	status = "okay";
};

&i2c1_0 {
	status = "okay";
	label = "I2C_TCPC1";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl1 {
	status = "okay";
};

&i2c2_0 {
	status = "okay";
	label = "I2C_BATTERY";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c_ctrl2 {
	status = "okay";
};

&i2c3_0 {
	status = "okay";
	label = "I2C_USB_MUX";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl3 {
	status = "okay";
};

&i2c4_1 {
	status = "okay";
	label = "I2C_CHARGER";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl4 {
	status = "okay";
};

&i2c5_0 {
	status = "okay";
	label = "I2C_EEPROM";
	clock-frequency = <I2C_BITRATE_FAST>;

	cbi_eeprom: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		label = "EEPROM_CBI";
		size = <2048>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};
};

&i2c_ctrl5 {
	status = "okay";
};

&i2c6_1 {
	status = "okay";
	label = "I2C_SENSOR";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl6 {
	status = "okay";
};

&i2c7_0 {
	status = "okay";
	label = "I2C_THERMAL_AP";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl7 {
	status = "okay";
};
