/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	named-pwms {
		compatible = "named-pwms";

		pwm_fan: fan {
			pwms = <&pwm0 0 0>;
			label = "FAN";
			frequency = <25000>;
		};
		kblight: kblight {
			pwms = <&pwm1 0 0>;
			label = "KBLIGHT";
			frequency = <100>;
		};
		led_charge: led_charge {
			pwms = <&pwm2 0 0>;
			label = "LED_CHARGE";
			frequency = <100>;
		};
		led_full: led_full {
			pwms = <&pwm3 0 0>;
			label = "LED_FULL";
			frequency = <100>;
		};
	};
};

/* Fan control */
&pwm0 {
	status = "okay";
	drive-open-drain;
};

/* Keyboard backlight */
&pwm1 {
	status = "okay";
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};

/* Amber charging LED */
&pwm2 {
	status = "okay";
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};

/* Green full LED */
&pwm3 {
	status = "okay";
	clock-bus = "NPCX_CLOCK_BUS_LFCLK";
};
