/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <dt-bindings/gpio_defines.h>

/ {
	named-gpios {
		compatible = "named-gpios";

		ec_batt_pres_odl {
			gpios = <&gpio0 1 GPIO_INPUT>;
			enum-name = "GPIO_BATT_PRES_ODL";
			label = "EC_BATT_PRES_ODL";
		};
		acok_od {
			gpios = <&gpio0 2 GPIO_INPUT>;
			enum-name = "GPIO_AC_PRESENT";
			label = "ACOK_OD";
		};
		/* In test WP is output because CBI use it, but it is also
		 * input, because test_all_tags set it to enable write
		 * protection.
		 */
		gpio_wp_l: wp_l {
			#gpio-cells = <0>;
			gpios = <&gpio0 3 (GPIO_INPUT | GPIO_OUTPUT)>;
			enum-name = "GPIO_WP_L";
			label = "WP_L";
		};
	};
	named-i2c-ports {
		compatible = "named-i2c-ports";

		usb-c0 {
			i2c-port = <&i2c0>;
			enum-name = "I2C_PORT_USB_C0";
			label = "USB_C0";
		};
		usb-c1 {
			i2c-port = <&i2c0>;
			enum-name = "I2C_PORT_USB_C1";
			label = "USB_C1";
		};
		battery {
			i2c-port = <&i2c0>;
			enum-name = "I2C_PORT_BATTERY";
			label = "BATTERY";
		};
		charger {
			i2c-port = <&i2c0>;
			enum-name = "I2C_PORT_CHARGER";
			label = "CHARGER";
		};
		eeprom {
			i2c-port = <&i2c0>;
			enum-name = "I2C_PORT_EEPROM";
			label = "EEPROM";
		};
	};

	named-batteries {
		compatible = "named-batteries";

		lgc011 {
			enum-name = "lgc011";
		};
	};
};

&gpio0 {
	ngpios = <4>;
};

&i2c0 {
	cbi_eeprom: eeprom@56 {
		compatible = "atmel,at24";
		reg = <0x56>;
		label = "EEPROM_CBI";
		size = <512>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <5>;
		wp-gpios = <&gpio_wp_l>;
	};

	battery: sb@b {
		compatible = "zephyr,smart-battery";
		reg = <0xb>;
		label = "BATTERY";
		cycle-count = <99>;
		version = "BATTERY_SPEC_VER_1_1_WITH_PEC";
	};
};
