/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include "i2c_common.dtsi"

&i2c1_0 {
	tcpc_port0: ps8xxx@1b {
		compatible = "parade,ps8xxx";
		reg = <0x1b>;
	};
};

&i2c2_0 {
	tcpc_port1: ps8xxx@1b {
		compatible = "parade,ps8xxx";
		reg = <0x1b>;
	};
};
