/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Herobrine program common DTS includes */
#include "../adc.dtsi"
#include "../common.dtsi"
#include "../i2c.dtsi"
#include "../interrupts.dtsi"
#include "../keyboard.dtsi"
#include "../default_gpio_pinctrl.dtsi"
#include "../display.dtsi"
#include "../gpio.dtsi"
#include "../motionsense.dtsi"
#include "../switchcap.dtsi"
#include "../usbc.dtsi"

/* Herobrine project DTS includes*/
#include "led_pins.dtsi"
#include "led_policy.dtsi"

/* herobrine overrides follow... */
/* battery overrides */
/ {
	batteries {
		default_battery: ap16l5j {
			compatible = "panasonic,ap16l5j", "battery-smart";
		};
	};
};

/* i2c overrides */
&i2c1_0 {

	/delete-node/ syv682x@41;
	ppc_port0: sn5s330@40 {
		compatible = "ti,sn5s330";
		status = "okay";
		reg = <0x40>;
	};

	ppc_port0_alt: syv682x@41 {
		compatible = "silergy,syv682x";
		status = "okay";
		reg = <0x41>;
		frs_en_gpio = <&gpio_usb_c0_frs_en>;
	};
};

&i2c2_0 {

	/delete-node/ syv682x@41;
	ppc_port1: sn5s330@40 {
		compatible = "ti,sn5s330";
		status = "okay";
		reg = <0x40>;
	};
};

/* usbc overrides */
&port0 {
	ppc_alt = <&ppc_port0_alt>;
};
