# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Note: this Zephyr board more closely represents the Chrome OS
# concept of a baseboard.  Zephyr boards and Chrome OS boards do not
# have a 1:1 mapping.
config BOARD_NPCX7_EVB
	bool "NPCX7 Evaluation Board"
	depends on SOC_NPCX7M6FB || SOC_NPCX7M6FC || SOC_NPCX7M7FC
	# Allow generating initial 0 line coverage.
	select HAS_COVERAGE_SUPPORT

config BOARD_NPCX9_EVB
	bool "NPCX9 Evaluation Board"
	depends on SOC_NPCX9M3F || SOC_NPCX9M6F || SOC_NPCX9M7F
	# Allow generating initial 0 line coverage.
	select HAS_COVERAGE_SUPPORT
