/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <dt-bindings/gpio_defines.h>

/ {
	model = "Nuvoton NPCX Evaluation Board";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,flash = &flash0;
		cros,rtc = &mtc;
	};

	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_evb_0_0 {
			i2c-port = <&i2c0_0>;
			enum-name = "I2C_PORT_EVB_0";
			label = "I2C0_0";
		};
		i2c_evb_1_0 {
			i2c-port = <&i2c1_0>;
			enum-name = "I2C_PORT_EVB_1";
			label = "I2C1_0";
		};
		i2c_evb_2_0 {
			i2c-port = <&i2c2_0>;
			enum-name = "I2C_PORT_EVB_2";
			label = "I2C2_0";
		};
		i2c_evb_3_0 {
			i2c-port = <&i2c3_0>;
			enum-name = "I2C_PORT_EVB_3";
			label = "I2C3_0";
		};
		i2c_evb_7_0 {
			i2c-port = <&i2c7_0>;
			enum-name = "I2C_PORT_EVB_7";
			label = "I2C7_0";
		};
	};

	named-adc-channels {
		compatible = "named-adc-channels";

		adc_ch_0 {
			label = "ADC0";
			enum-name = "ADC_EVB_CH_0";
			channel = <0>;
		};
		adc_ch_1 {
			label = "ADC1";
			enum-name = "ADC_EVB_CH_1";
			channel = <1>;
		};
		adc_ch_2 {
			label = "ADC2";
			enum-name = "ADC_EVB_CH_2";
			channel = <2>;
		};
		adc_ch_3 {
			label = "ADC3";
			enum-name = "ADC_EVB_CH_3";
			channel = <3>;
		};
		adc_ch_4 {
			label = "ADC4";
			enum-name = "ADC_EVB_CH_4";
			channel = <4>;
		};
	};
};

&i2c0_0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c1_0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c2_0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c3_0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&i2c7_0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&adc0 {
	status = "okay";
};

&cros_kb_raw {
	status = "okay";
	pinctrl-0 = <&alt7_no_ksi0_sl
		     &alt7_no_ksi1_sl
		     &alt7_no_ksi2_sl
		     &alt7_no_ksi3_sl
		     &alt7_no_ksi4_sl
		     &alt7_no_ksi5_sl
		     &alt7_no_ksi6_sl
		     &alt7_no_ksi7_sl
		     &alt8_no_kso00_sl
		     &alt8_no_kso01_sl
		     &alt8_no_kso02_sl
		     &alt8_no_kso03_sl
		     &alt8_no_kso04_sl
		     &alt8_no_kso05_sl
		     &alt8_no_kso06_sl
		     &alt8_no_kso07_sl
		     &alt9_no_kso08_sl
		     &alt9_no_kso09_sl
		     &alt9_no_kso10_sl
		     &alt9_no_kso11_sl
		     &alt9_no_kso12_sl
		     >;
};
