# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_USB_UPDATE
	bool "USB update protocol support"
	help
	  Enable the firmware update protocol (see docs/usb_updater.md)
	  over USB interface.

if PLATFORM_EC_USB_UPDATE

config PLATFORM_EC_TOUCHPAD_VIRTUAL_SIZE
	int "Touchpad virtual size"
	help
	  Enable touchpad FW update over USB update protocol, and define
	  the size of the touchpad firmware.

config PLATFORM_EC_TOUCHPAD_VIRTUAL_OFF
	int "Touchpad virtual address"
	help
	  Enable touchpad FW update over USB update protocol, and define
	  the virtual address of the touchpad firmware.

config PLATFORM_EC_USB_PAIRING
	bool "Pairing support"
	select PLATFORM_EC_CURVE25519
	help
	  Add support for pairing over the USB update interface

config PLATFORM_EC_UPDATE_PDU_SIZE
	int "Maximum size allowed in the update protocol"
	default 1024
	help
	  Maximum size of an update protocol data unit (PDU). (see
	  docs/usb_updater.md)

config PLATFORM_EC_TOUCHPAD_HASH_FW
	bool "Include hashes of the touchpad FW in the EC image"
	help
	  Include hashes of the touchpad FW in the EC image.
	  If enabled, the SHA256 hash of the touchpad FW is stored in EC's
	  `touchpad_fw_hashes` and `touchpad_fw_full_hash` section.
	  EC will verify if the received FW chunk using the hashes.

	  To enable this feature, board should include cros/touchpad_hashes.dtsi
	  in their dts file, and set the size of `touchpad_fw_hashes` section to
	  `(TOUCHPAD_VIRTUAL_SIZE / UPDATE_PDU_SIZE) * 32`.

config PLATFORM_EC_USB_CONSOLE_READ
	bool "Enable support for reading the EC console via the USB interface"
	select PLATFORM_EC_HOSTCMD
	help
	  This option enables support for reading the EC console via the USB
	  interface.

endif # PLATFORM_EC_USB_UPDATE
