# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_CEC
	bool "EC CEC support"
	help
	  Enable support for HDMI CEC (Consumer Electronics Control).

if PLATFORM_EC_CEC

config PLATFORM_EC_CEC_DEBUG
	bool "CEC debug logs"
	help
	  Enable CEC debug logs.

endif # PLATFORM_EC_CEC
