# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kconfig overrides that applies to all platforms.

# Disable timeslicing, it's compiled in by default and can be enabled at
# runtime but not used in Zephyr EC.
config TIMESLICING
	default n

config GPIO_EMUL
	default y if ARCH_POSIX

config GPIO
	default y if ARCH_POSIX

config SHELL_PROMPT_UART
	default "ec:~$ "

orsource "Kconfig.defaults-$(ARCH)"
