# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if WATCHDOG

config PLATFORM_EC_WATCHDOG_PERIOD_MS
	int "Watchdog timeout in ms"
	default 1600
	help
	  Set the timeout of the watchdog timer. The watchdog timer reboots
	  the system if no one reloads the watchdog timer before the timeout.

config PLATFORM_EC_WATCHDOG_WARNING_LEADING_TIME_MS
	int "Leading time of the watchdog warning timer in ms"
	default WDT_NPCX_WARNING_LEADING_TIME_MS if WDT_NPCX
	default WDT_ITE_WARNING_LEADING_TIME_MS if WDT_ITE_IT8XXX2
	default 500
	help
	  Set the leading time of the watchdog warning timer. Chromium EC system
	  uses an auxiliary timer to handle the system warning event. The
	  auxiliary timer period (CONFIG_AUX_TIMER_PERIOD_MS) is set to
	  PLATFORM_EC_WATCHDOG_PERIOD_MS -
	  PLATFORM_EC_WATCHDOG_WARNING_LEADING_TIME_MS.

	  For the NPCX chip, use WDT_NPCX_WARNING_LEADING_TIME_MS to set this
	  option indirectly.
	  For the ITE chip, use CONFIG_WDT_ITE_WARNING_LEADING_TIME_MS to set
	  this option indirectly.

config PLATFORM_EC_WATCHDOG_HELPER
	bool "Use watchdog helper to trigger warning"
	default n
	depends on WDT_COUNTER
	help
	  If enabled, watchdog shim will setup cros-ec,watchdog-helper
	  with CONFIG_WATCHDOG_AUX_TIMER_PERIOD_MS timeout.
	  Watchdog helper is used to trigger warning and gather debugging
	  information before hardware watchdog resets the SoC.

config PLATFORM_EC_WATCHDOG_DUMP_THREADS_CALL_STACK
	bool "Dump thread call stack to log on watchdog"
	depends on ARCH_STACKWALK
	help
	  Dump each thread's current call stack when watchdog is detected.

config PLATFORM_EC_CONSOLE_CMD_WATCHDOG_INFO
	bool "Enable console command for watchdog info"
	default n
	help
	  Enable watchdoginfo console command. Useful for debugging watchdog
	  issues.

config PLATFORM_EC_HOSTCMD_WATCHDOG_INFO
	bool "Enable host command for watchdog info"
	default y
	help
	  Enable host command to query watchdog info.

endif # WATCHDOG
