# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_BYPASS_CBI_EEPROM_WP_CHECK
	bool "Bypass CBI EEPROM Write Protect"
	depends on PLATFORM_EC_CBI_EEPROM
	help
	  Bypass the CBI EEPROM write protect checks. This should ONLY be
	  defined during bringup, and should never be defined on a shipping or
	  release platform.

	  When defined, ectool can be used to reprogram all CBI fields,
	  regardless of the state of the hardware write protect.

config PLATFORM_EC_EEPROM_CBI_WP
	bool "EC can independently set the CBI EEPROM WP signal"
	depends on PLATFORM_EC_CBI_EEPROM
	help
	   Define this if the EC can independently set the CBI EEPROM WP
	   signal. The accompanying hardware must ensure that the CBI WP gets
	   latched and is only reset when EC_RST_ODL is asserted.

config PLATFORM_EC_CBI
	bool "CBI support"
	default y
	help
	  CBI is a means for accessing board information, typically set
	  during the factory process. This allows selection of the physical
	  storage of CBI source.

	  See here for detailed information on CBI:

	  https://chromium.googlesource.com/chromiumos/docs/+/HEAD/design_docs/cros_board_info.md

if PLATFORM_EC_CBI

config PLATFORM_EC_CBI_EEPROM
	bool "CBI EEPROM support"
	default y
	depends on EEPROM
	depends on $(dt_nodelabel_enabled,cbi_eeprom)
	help
	  Enables full Chromium OS Board Info (CBI) support, with CBI data
	  stored in an on-board EEPROM.

config PLATFORM_EC_CBI_FLASH
	bool "CBI flash support"
	default y
	depends on $(dt_nodelabel_enabled,cbi_flash)
	help
	  Enables full Chromium OS Board Info (CBI) support, with CBI data
	  stored in an on-board flash.

config PLATFORM_EC_CBI_TRANSFER_EEPROM_FLASH
	bool "Transfer CBI from EEPROM to flash CBI section"
	depends on PLATFORM_EC_CBI_EEPROM
	depends on PLATFORM_EC_CBI_FLASH
	help
	  Copy CBI from EEPROM to flash automatically if CBI on flash is
	  not valid and EEPROM has valid CBI

choice PLATFORM_EC_CBI_STORAGE_TYPE
	prompt "CBI storage type"
	default PLATFORM_EC_CBI_EEPROM_OR_FLASH if PLATFORM_EC_CBI_EEPROM || PLATFORM_EC_CBI_FLASH
	help
	  Select the backing storage type for CBI data.

config PLATFORM_EC_CBI_EEPROM_OR_FLASH
	bool "CBI EEPROM or EC flash support"
	depends on PLATFORM_EC_CBI_EEPROM || PLATFORM_EC_CBI_FLASH
	help
	  Enables full Chromium OS Board Info (CBI) support, with CBI data
	  stored in an on-board EEPROM or EC Flash.

config PLATFORM_EC_CBI_GPIO
	bool "CBI GPIO support"
	help
	  Enables Chromium OS Board Info (CBI) from strapping pins. EC reads
	  the BOARD ID and SKU ID from GPIOs and then substantiate in-memory
	  CBI for AP to query.
endchoice

config PLATFORM_EC_CONSOLE_CMD_CBI
	bool "Console command: cbi"
	default y
	help
	  Enable the 'cbi' console command. This command is used to display or
	  change the CBI information in the persistent storage.

endif # PLATFORM_EC_CBI
