# Copyright 2022 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig PLATFORM_EC_LED_DT
	bool "LED Support"
	help
	  Enable devicetree based LED module supporting automatic control of the
	  battery and power LEDs.

menuconfig PLATFORM_EC_LED_ALT
	bool "Alternative LED Support"
	select PLATFORM_EC_LED_COMMON
	help
	  Enable alternative devicetree based LED module supporting
	  automatic control of the both PWM and GPIO based LEDs.
	  The actions, policy and LED selection are all configured
	  via devicetree, using the cros-ec,led-policy compat (for
	  defining the policy), cros-ec,multi-pwm-leds for
	  configuring PWM based LEDs, and cros-ec,gpio-leds for
	  supporting GPIO based LEDs.
	  The EC host command for controlling the LEDs is supported.
