# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

##############################################################################
if SOC_SERIES_NPCX7

# Zephyr internal stack sizes

config IDLE_STACK_SIZE
	default 192

config ISR_STACK_SIZE
	default 1024

config SHELL_STACK_SIZE
	default 1536

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 1024

# Chromium EC stack sizes

config TASK_CHARGER_STACK_SIZE
	default 704

config TASK_CHG_RAMP_STACK_SIZE
	default 608

config TASK_CHIPSET_STACK_SIZE
	default 1056 if AP_x86
	default 684 if AP_ARM
	default 1200 # Safe default

config TASK_HOSTCMD_STACK_SIZE
	default 1024

config TASK_KEYPROTO_STACK_SIZE
	default 640

config TASK_KEYSCAN_STACK_SIZE
	default 1024

config TASK_MOTIONSENSE_STACK_SIZE
	default 800

config TASK_POWERBTN_STACK_SIZE
	default 672

config TASK_PD_STACK_SIZE
	default 1184

config TASK_PD_INT_STACK_SIZE
	default 736

config TASK_USB_CHG_STACK_SIZE
	default 800

endif # SOC_SERIES_NPCX7
##############################################################################


##############################################################################
if SOC_SERIES_NPCX9

# Zephyr internal stack sizes

config IDLE_STACK_SIZE
	default 192

config MAIN_STACK_SIZE
	default 1200

config ISR_STACK_SIZE
	default 1024

config SHELL_STACK_SIZE
	default 1536

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 1024

# Chromium EC stack sizes

config TASK_CHARGER_STACK_SIZE
	default 1056

config TASK_CHIPSET_STACK_SIZE
	default 1056 if AP_x86
	default 1056 if AP_ARM
	default 1200 # Safe default

config TASK_HOSTCMD_STACK_SIZE
	default 800

config TASK_KEYSCAN_STACK_SIZE
	default 1024

config TASK_MOTIONSENSE_STACK_SIZE
	default 812

config TASK_PD_STACK_SIZE
	default 1184

config TASK_PD_INT_STACK_SIZE
	default 736

config TASK_USB_CHG_STACK_SIZE
	default 800

endif # SOC_SERIES_NPCX9
##############################################################################
