# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_FLASH_INIT_PRIORITY
  int "Init priority of the flash module"
  default 90 if SOC_FAMILY_NPCX
  default 90 if SOC_FAMILY_MEC
  default 52
  help
    The initialization priority of the flash module. This should always be
    greater than PLATFORM_EC_GPIO_INIT_PRIORITY.

config PLATFORM_EC_GPIO_INIT_PRIORITY
  int "Init priority of the GPIO module"
  default 51
  help
    The initialization priority of the GPIO module. This should always happen
    after the gpio drivers are initialized.

config PLATFORM_EC_PWM_INIT_PRIORITY
	int "Initialization priority of the PWM module"
	depends on PLATFORM_EC_PWM
	default 51
	help
	  Sets the initialization priority of the PWM module. This MUST be a
	  value greater than the PWM driver's initialization priority which
	  currently defaults to KERNEL_INIT_PRIORITY_DEVICE.
