# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kconfig overrides that applies to all platforms.

# Disable timeslicing, it's compiled in by default and can be enabled at
# runtime but not used in Zephyr EC.
config TIMESLICING
	default n

config LOG
	default y
	imply LOG_DEFAULT_MINIMAL

config GPIO
	default y if ARCH_POSIX

config THREAD_MAX_NAME_LEN
	default 16

config SHELL_PROMPT_UART
	default "ec:~> "

config SHELL_VT100_COLORS
	default n

config SHELL_THREAD_PRIORITY_OVERRIDE
	default y

config SHELL_THREAD_PRIORITY
	default 20

config EXTRA_EXCEPTION_INFO
	default y if ARCH_HAS_EXTRA_EXCEPTION_INFO

config EEPROM_SHELL
	default n

config PWM_SHELL
	default n

config SENSOR_SHELL
	default n

config FLASH_PAGE_LAYOUT
	default n

config FLASH_SHELL
	default n

config WDT_SHELL
	default n

config ESPI_NPCX_PERIPHERAL_DEBUG_PORT_80_MULTI_BYTE
	default y

choice INPUT_MODE
	default INPUT_MODE_SYNCHRONOUS
endchoice

config INPUT_NPCX_KBD
	default n if PLATFORM_EC_KEYBOARD_CROS_EC_RAW_KB

config OUTPUT_DISASSEMBLY
	default y

orsource "Kconfig.defaults-$(ARCH)"
