# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

##############################################################################

# Zephyr internal stack sizes
#
# The intent is to try and keep the stack sizes in one place.

config MAIN_STACK_SIZE
	default 1536 if SOC_SERIES_ITE_IT8XXX2
	default 1200 if SOC_SERIES_NPCX7
	default 1536 if SOC_SERIES_NPCX9 && PLATFORM_EC_LOG_TOKENIZED
	default 1200 if SOC_SERIES_NPCX9

config IDLE_STACK_SIZE
	default 500 if SOC_SERIES_ITE_IT8XXX2
	default 192 if SOC_SERIES_NPCX7
	default 400 if SOC_SERIES_NPCX9

config ISR_STACK_SIZE
	default 1024 if SOC_SERIES_ITE_IT8XXX2
	default 1024 if SOC_SERIES_NPCX7
	default 1024 if SOC_SERIES_NPCX9

config SHELL_STACK_SIZE
	default 1536 if SOC_SERIES_ITE_IT8XXX2
	default 1536 if SOC_SERIES_NPCX7
	default 1536 if SOC_SERIES_NPCX9

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 1536 if SOC_SERIES_ITE_IT8XXX2
	default 1024 if SOC_SERIES_NPCX7
	default 1024 if SOC_SERIES_NPCX9

# Chromium EC stack sizes

config TASK_CHARGER_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 704 if SOC_SERIES_NPCX7
	default 1056 if SOC_SERIES_NPCX9

config TASK_CHIPSET_STACK_SIZE
	default 820 if SOC_SERIES_ITE_IT8XXX2
	default 1280 if AP_X86 && PLATFORM_EC_LOG_TOKENIZED
	default 1056 if AP_X86
	default 684 if AP_ARM && SOC_SERIES_NPCX7
	default 1056 if AP_ARM && SOC_SERIES_NPCX9

config TASK_HOSTCMD_STACK_SIZE
	default 1152 if SOC_SERIES_ITE_IT8XXX2
	default 800 if SOC_SERIES_NPCX7
	default 800 if SOC_SERIES_NPCX9

config TASK_KEYPROTO_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 800 if SOC_SERIES_NPCX7
	default 800 if SOC_SERIES_NPCX9

config TASK_KEYSCAN_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 1024 if SOC_SERIES_NPCX7
	default 1024 if SOC_SERIES_NPCX9

config TASK_MOTIONSENSE_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 1024 if SOC_SERIES_NPCX7
	default 1024 if SOC_SERIES_NPCX9

config TASK_POWERBTN_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 800 if SOC_SERIES_NPCX7
	default 800 if SOC_SERIES_NPCX9

config TASK_PD_STACK_SIZE
	default 1536 if SOC_SERIES_ITE_IT8XXX2
	default 1184 if SOC_SERIES_NPCX7
	default 1184 if SOC_SERIES_NPCX9

config TASK_PD_ALTMODE_INTEL_STACK_SIZE
	default 1536 if SOC_SERIES_ITE_IT8XXX2
	default 1184 if SOC_SERIES_NPCX7
	default 1184 if SOC_SERIES_NPCX9

config TASK_PD_INT_STACK_SIZE
	default 1152 if SOC_SERIES_ITE_IT8XXX2
	default 880 if SOC_SERIES_NPCX7
	default 880 if SOC_SERIES_NPCX9

config TASK_USB_CHG_STACK_SIZE
	default 1152 if SOC_SERIES_ITE_IT8XXX2
	default 800 if SOC_SERIES_NPCX7
	default 800 if SOC_SERIES_NPCX9

config TASK_USB_MUX_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 1024 if SOC_SERIES_NPCX7
	default 1024 if SOC_SERIES_NPCX9

config AP_PWRSEQ_STACK_SIZE
	default 1280 if SOC_SERIES_ITE_IT8XXX2
	default 1280 if SOC_SERIES_NPCX7
	default 1280 if SOC_SERIES_NPCX9
	default 1280 # Needed since there is no other default
