/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* lapis program common DTS includes */

#include <cros/integrated_fwid.dtsi>

/* lapis project DTS includes */

#include "gpios.dtsi"

/*
 * Aliases to common names
 */
gpio_ec_pch_wake_odl: &gpio_soc_wake_odl {};

#include "battery.dtsi"
#include "console.dtsi"
#include "fan.dtsi"
#include "gpios.dtsi"
#include "i2c.dtsi"
#include "interrupts.dtsi"
#include "keyboard.dtsi"
#include "power_signals.dtsi"
#include "pwm.dtsi"
#include "temp_sensors.dtsi"
#include "led_pins.dtsi"
#include "led_policy.dtsi"
#include "usb_typec.dtsi"
#include "usba.dtsi"
#include "rtk_ulpm.dtsi"

/* AP interface */
&espi0 {
	status = "okay";
};

&sha0 {
	status = "okay";
};
