/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
#include <cros/thermistor/thermistor.dtsi>

/ {
	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";

		temp_vr: vr {
			temp-host-high = <88>;
			temp-host-halt = <91>;
			temp-host-release-high = <85>;
			power-good-pin = <&gpio_all_sys_pwrgd>;
			sensor = <&apl6012_ch10>;
		};
		temp_ddr: ddr {
			temp-host-high = <88>;
			temp-host-halt = <91>;
			temp-host-release-high = <85>;
			power-good-pin = <&gpio_all_sys_pwrgd>;
			sensor = <&apl6012_ch11>;
		};
		temp_top: top {
			temp-host-high = <88>;
			temp-host-halt = <91>;
			temp-host-release-high = <85>;
			power-good-pin = <&gpio_all_sys_pwrgd>;
			sensor = <&apl6012_ch12>;
		};
		temp_ssd: ssd {
			temp-host-high = <88>;
			temp-host-halt = <91>;
			temp-host-release-high = <85>;
			power-good-pin = <&gpio_all_sys_pwrgd>;
			sensor = <&apl6012_ch13>;
		};
		temp_charger: charger {
			temp-host-high = <88>;
			temp-host-halt = <91>;
			temp-host-release-high = <85>;
			power-good-pin = <&gpio_all_sys_pwrgd>;
			sensor = <&apl6012_ch14>;
		};
	};

	fan_steps: fan-step {
		compatible = "cros-ec,fan-steps";
		level_0 {
			temp-on = <49 0 0 47 0>;
			temp-off = <99 0 0 99 0>;
			rpm-target = <0>;
		};
		level_1 {
			temp-on = <52 0 0 51 0>;
			temp-off = <48 0 0 46 0>;
			rpm-target = <2600>;
		};
		level_2 {
			temp-on = <66 0 0 68 0>;
			temp-off = <51 0 0 50 0>;
			rpm-target = <3700>;
		};
		level_3 {
			temp-on = <99 0 0 99 0>;
			temp-off = <63 0 0 65 0>;
			rpm-target = <4600>;
		};
	};
};

&i2c_2 {
	apl6012: apl6012@38 {
		compatible = "cros-ec,temp-sensor-apl6012";
		reg = <0x38>;

		apl6012_ch10: vr {
			temperature-type = "APL6012_IDX_CH10";
			thermistor = <&apl_NTC_5V_12K_47K>;
		};
		apl6012_ch11: ddr {
			temperature-type = "APL6012_IDX_CH11";
			thermistor = <&apl_NTC_5V_12K_47K>;
		};
		apl6012_ch12: top {
			temperature-type = "APL6012_IDX_CH12";
			thermistor = <&apl_NTC_5V_12K_47K>;
		};
		apl6012_ch13: ssd {
			temperature-type = "APL6012_IDX_CH13";
			thermistor = <&apl_NTC_5V_12K_47K>;
		};
		apl6012_ch14: charger {
			temperature-type = "APL6012_IDX_CH14";
			thermistor = <&apl_NTC_5V_12K_47K>;
		};
	};
};
