# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if PLATFORM_EC_USBC

rsource "Kconfig.usbc_altmode"

menuconfig USB_PDC_POWER_MGMT
	bool "Configure USB-C PD Controller"
	depends on PLATFORM_EC_USB_PD_CONTROLLER
	depends on PLATFORM_EC_CHARGER
	default y
	select SMF
	select SMF_ANCESTOR_SUPPORT
	select EVENTS
	help
	  Enable this to support configuring the USB-C power management
	  when using Power Delivery Controllers.

config PDC_POWER_MGMT_INIT_PRIORITY
	int "USB-C stack init priority"
	default 90
	help
	  Initialization priority of the USB-C in POST_KERNEL.

config CHARGE_MANAGER_SYS_INIT_PRIORITY
	int "USB-C stack init priority"
	default 89
	help
	  Initialization priority of the charge manager weh using the PDC
	  power management subsystem.  This must be higher priority than the
	  PDC power management initialization priority.

config PDC_POWER_MGMT_THREAD_PRIORTY
	int "USB-C thread priority"
	default 0
	help
	  Set thread priority of the USB-C

config PDC_POWER_MGMT_STACK_SIZE
	int "USB-C thread stack size"
	default 1024
	help
	  Stack size of thread created for each instance.

choice PDC_POWER_MGMT_SRC_PDO_PEAK_OCP
	prompt "Peak overcurrent capability advertised in the source PDO"
	default PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_100
	help
	  Set the allowable peak overcurrent as a percentage of the normal
	  current limit. See USB-PD Spec, ver 3.2, Table 6.10 for a full
	  explanation of the settings.

config PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_100
	bool "Peak overcurrent of 100%"
	help
	  The PDC does not support any peak current beyond normal operating
	  levels

config PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_110
	bool "Peak overcurrent of 110%"
	help
	  The PDC supports 110% for 10ms, 125% for 2ms, 150% for 1ms (relative
	  to normal operating current)

config PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_125
	bool "Peak overcurrent of 125%"
	help
	  The PDC supports 125% for 10ms, 150% for 2ms, 200% for 1ms (relative
	  to normal operating current)

config PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_150
	bool "Peak overcurrent of 150%"
	help
	  The PDC supports 150% for 10ms, 175% for 2ms, 200% for 1ms (relative
	  to normal operating current)

endchoice # PDC_POWER_MGMT_SRC_PDO_PEAK_OCP

module = USB_PDC
module-str = USB PDC
source "subsys/logging/Kconfig.template.log_config"

endif # PLATFORM_EC_USBC
