
# Copyright 2020 Google LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig CROS_KB_RAW_NPCX
	bool "Nuvoton NPCX raw-keyboard-scan driver for the Zephyr shim"
	depends on SOC_FAMILY_NPCX
	default y
	help
	  This option enables a driver for providing raw access to the
	  keyboard-scan peripheral in the chip. This is used instead of the
	  kscan interface so we can continue to use most of the existing
	  keyboard-scanning code in ECOS.
