/* Copyright 2021 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <dt-bindings/gpio_defines.h>

/ {
	named-gpios {
		compatible = "named-gpios";

		entering_rw {
			gpios = <&gpio0 1 GPIO_OUT_LOW>;
			enum-name = "GPIO_ENTERING_RW";
		};
	};
};

&gpio0 {
	ngpios = <2>;
};
