/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_ec_i2c_eeprom: ec_i2c_eeprom {
			i2c-port = <&i2c0_0>;
			enum-names = "I2C_PORT_EEPROM";
		};
	};
};

&i2c0_0 {
	status = "okay";
	pinctrl-0 = <&i2c0_0_sda_scl_gpb4_b5>;
	pinctrl-names = "default";

	label = "I2C_EEPROM";
	clock-frequency = <I2C_BITRATE_FAST>;

	cbi_eeprom: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <2048>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};
};

&i2c_ctrl0 {
	status = "okay";
};

&i2c6_1 {
    status = "disabled";
};
/delete-node/ &i2c_ec_i2c_charger;

/delete-node/ &i2c_ec_i2c_sensor_r;

&i2c2_0 {
    status = "disabled";
};
/delete-node/ &i2c_i2c_ec_pd;

&i2c1_0 {
	label = "I2C_DSP";
	clock-frequency = <I2C_BITRATE_FAST>;
	dsp_service: dsp-service@20 {
		compatible = "cros,dsp-service";
		reg = <0x20>;
		int-gpios = <&gpioa 3 (GPIO_ACTIVE_LOW)>;
	};
};
