/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Trulo program common DTS includes */
#include "../cbi.dtsi"
#include "../generated.dtsi"
#include "../i2c.dtsi"
#include "../power_signals.dtsi"
#include "../trulo.dtsi"
#include "../usb_typec.dtsi"
#include "../usba.dtsi"

/* Trulo project DTS includes*/

/* Trulo overrides follow... */

/ {
	batteries {
		default_battery: cosmx_ap20cbl-4 {
			compatible = "cosmx,ap20cbl-4", "battery-smart";
		};
	};
};
