/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Based off of `ec/zephyr/program/herobrine/led_policy_herobrine.dts`
 * Modified led-colors to obtain better test coverage.
 */

#include <dt-bindings/battery.h>

/ {
	led-colors {
		compatible = "cros-ec,led-policy";

		power-state-charge-left {
			charge-state = "LED_PWRS_CHARGE";
			charge-port = <1>; /* Left port */

			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Left LED to Blue */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_BLUE";
				};
			};
		};

		power-state-charge-right {
			charge-state = "LED_PWRS_CHARGE";
			charge-port = <0>; /* Right port */
			/* Battery is charging */
			batt-state-mask = <SB_STATUS_DISCHARGING>;
			batt-state = <0>;

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED to Blue */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_BLUE";
				};
			};
		};

		power-state-charge-idle-right {
			charge-state = "LED_PWRS_CHARGE";
			charge-port = <0>; /* Right port */
			/* Battery is discharging */
			batt-state-mask = <SB_STATUS_DISCHARGING>;
			batt-state = <SB_STATUS_DISCHARGING>;

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
		};

		power-state-discharge-right-low {
			charge-state = "LED_PWRS_DISCHARGE";
			/* Battery percent range (>= Empty, <= Low) */
			batt-lvl = <BATTERY_LEVEL_EMPTY BATTERY_LEVEL_LOW>;

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED - White 1 sec, off 3 sec */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_WHITE";
					period-ms = <1000>;
				};
				color-1 {
					led-color = "LED_OFF";
					period-ms = <3000>;
				};
			};
		};

		power-state-discharge-right {
			charge-state = "LED_PWRS_DISCHARGE";
			/* Battery percent range (> Low, <= Full) */
			batt-lvl = <(BATTERY_LEVEL_LOW + 1) BATTERY_LEVEL_FULL>;

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
		};

		power-state-error-left {
			charge-state = "LED_PWRS_ERROR";
			charge-port = <1>; /* Left port */

			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Left LED - White 2 sec, off 2 sec */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_WHITE";
					period-ms = <2000>;
				};
				color-1 {
					led-color = "LED_OFF";
					period-ms = <2000>;
				};
			};
		};

		power-state-error-right {
			charge-state = "LED_PWRS_ERROR";
			charge-port = <0>; /* Right port */

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED - White 2 sec, off 2 sec */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_WHITE";
					period-ms = <2000>;
				};
				color-1 {
					led-color = "LED_OFF";
					period-ms = <2000>;
				};
			};
		};

		power-state-near-full-left {
			charge-state = "LED_PWRS_CHARGE_NEAR_FULL";
			charge-port = <1>; /* Left port */

			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Left LED to White */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_WHITE";
				};
			};
		};

		power-state-near-full-right {
			charge-state = "LED_PWRS_CHARGE_NEAR_FULL";
			charge-port = <0>; /* Right port */

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED to White */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_WHITE";
				};
			};
		};

		power-state-forced-idle-left {
			charge-state = "LED_PWRS_FORCED_IDLE";
			charge-port = <1>; /* Left port */

			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Left LED - Blue 3 sec, Off 1 sec */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_BLUE";
					period-ms = <3000>;
				};
				color-1 {
					led-color = "LED_OFF";
					period-ms = <1000>;
				};
			};
		};

		power-state-forced-idle-right {
			charge-state = "LED_PWRS_FORCED_IDLE";
			charge-port = <0>; /* Right port */

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED - Blue 3 sec, Off 1 sec */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_BLUE";
					period-ms = <3000>;
				};
				color-1 {
					led-color = "LED_OFF";
					period-ms = <1000>;
				};
			};
		};

		power-state-idle-left {
			charge-state = "LED_PWRS_IDLE";
			charge-port = <1>; /* Left port */

			/* Turn off the right LED */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Left LED to White */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_WHITE";
				};
			};
		};

		power-state-idle-right {
			charge-state = "LED_PWRS_IDLE";
			charge-port = <0>; /* Right port */

			/* Turn off the left LED */
			left-led {
				led-id = "EC_LED_ID_SYSRQ_DEBUG_LED";

				color {
					led-color = "LED_OFF";
				};
			};
			/* Right LED to White */
			right-led {
				led-id = "EC_LED_ID_RIGHT_LED";

				color {
					led-color = "LED_WHITE";
				};
			};
		};
	};
};
