/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 #include <dt-bindings/usb_pd_tcpm.h>

/ {
	chosen {
		cros,rtc = &mtc;
	};

	hibernate-wake-pins {
		compatible = "cros-ec,hibernate-wake-pins";
		wakeup-irqs = <
			&int_ac_present
			&int_lid_open
			&int_power_button
		>;
	};

	named-i2c-ports {
		compatible = "named-i2c-ports";

		i2c_charger: charger {
			i2c-port = <&i2c7_0>;
			enum-names = "I2C_PORT_CHARGER",
				"I2C_PORT_BATTERY",
				"I2C_PORT_EEPROM",
				"I2C_PORT_KB_DISCRETE",
				"I2C_PORT_PORT80";
		};
	};

	named-adc-channels {
		compatible = "named-adc-channels";

		adc_ambient: ambient {
			enum-name = "ADC_TEMP_SENSOR_1";
			io-channels = <&adc0 3>;
		};
		adc_ddr: ddr {
			enum-name = "ADC_TEMP_SENSOR_2";
			io-channels = <&adc0 4>;
		};
		adc_skin: skin {
			enum-name = "ADC_TEMP_SENSOR_3";
			io-channels = <&adc0 2>;
		};
		adc_vr: vr {
			enum-name = "ADC_TEMP_SENSOR_4";
			io-channels = <&adc0 1>;
		};
	};
};

/* charger */
&i2c7_0 {
	label = "I2C_CHARGER";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c7_0_sda_scl_gpb2_b3>;
	pinctrl-names = "default";

	pca95xx: pca95xx@22 {
		compatible = "nxp,pca95xx";
		label = "PCA95XX";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
	};

	rvp_board_id: rvp-board-id {
		compatible = "intel,rvp-board-id";

		/*
		 * BOM ID [2]   : IOEX[0]
		 * BOM ID [1:0] : IOEX[15:14]
		 */
		bom-gpios = <&pca95xx 0 0>, <&pca95xx 15 0>, <&pca95xx 14 0>;

		/*
		 * FAB ID [1:0] : IOEX[2:1]
		 */
		fab-gpios = <&pca95xx 2 0>, <&pca95xx 1 0>;

		/*
		 * BOARD ID[5:0] : IOEX[13:8]
		 */
		board-gpios = <&pca95xx 13 0>, <&pca95xx 12 0>, <&pca95xx 11 0>,
			      <&pca95xx 10 0>, <&pca95xx 9 0>, <&pca95xx 8 0>;
	};

	kb_discrete: ite-it8801@39 {
		compatible = "ite,it8801";
		reg = <0x39>;
	};

	max695x@38 {
		compatible = "maxim,max695x";
		reg = <0x38>;
	};

	charger: isl9241@9 {
		compatible = "intersil,isl9241";
		status = "okay";
		reg = <0x9>;
	};

	cbi_eeprom: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <2048>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};
};

/* host interface */
&espi0 {
	status = "okay";
	pinctrl-0 = <&espi_lpc_gp46_47_51_52_53_54_55_57>;
	pinctrl-names = "default";
};

&i2c_ctrl7 {
	status = "okay";
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc0_chan1_gp44
		     &adc0_chan2_gp43
		     &adc0_chan3_gp42
		     &adc0_chan4_gp41>;
	pinctrl-names = "default";
};
