/* Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#define FPC1145_COMMON_IMAGE_PROPS \
	width = <56>; \
	height = <192>; \
	bits-per-pixel = <8>; \
	image-data-offset-bytes = <2340>; \
	v4l2-pixel-format = "V4L2_PIX_FMT_GREY";

#define FPC1145_RAW_IMAGE_PROPS \
	FPC1145_COMMON_IMAGE_PROPS \
	frame-size = <35460>;

#define FPC1145_REAL_IMAGE_PROPS \
	FPC1145_COMMON_IMAGE_PROPS \
	frame-size = <10752>;

/ {
	chosen {
		cros-fp,fingerprint-sensor = &fpc1145;
	};
};

&spi0 {
	fpc1145: fpc1145@0 {
		compatible = "fpc,fpc1145";
		reg = <0>;
		spi-max-frequency = <4000000>;

		configs {
			compatible = "fingerprint-image-frame-params";
			config0 {
				FPC1145_RAW_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_VENDOR_FORMAT";
			};
			config1 {
				FPC1145_REAL_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_SIMPLE_IMAGE";
			};
			config2 {
				FPC1145_REAL_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_PATTERN0";
			};
			config3 {
				FPC1145_REAL_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_PATTERN1";
			};
			config4 {
				FPC1145_RAW_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_QUALITY_TEST";
			};
			config5 {
				FPC1145_REAL_IMAGE_PROPS
				capture-type = "FINGERPRINT_CAPTURE_TYPE_RESET_TEST";
			};
		};

		irq-gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	};
};
