/* Copyright 2022 The ChromiumOS Authors.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <board-overlays/native_posix.dts>

/ {
        /*
         * Keep these GPIOs in pin order.
         * If you need to add one, make sure you increase
         * ngpios in the gpio0 node further down.
         */
        named-gpios {
                compatible = "named-gpios";

                gpio_en_pp5000_s5: en_pp5000_s5 {
                        gpios = <&gpio0 2 GPIO_OUTPUT_HIGH>;
                        enum-name = "GPIO_EN_PP5000";
                };
	};
};

&gpio0 {
        ngpios = <3>;
};
