# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_SKYWALKER
	bool "Google Skywalker Board"
	help
	  Build Google Skywalker board. Skywalker has MediaTek SoC
	  with Nuvoton NPCX997FB EC.

config BOARD_LUUKE
	bool "Google Luuke Board"
	help
	  Build Google Luuke board. Skywalker has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_OBIWAN
	bool "Google Obiwan Board"
	help
	  Build Google Obiwan board. Obiwan has MediaTek SoC
	  with Nuvoton NPCX997FB EC.

config BOARD_YODA
	bool "Google Yoda Board"
	help
	  Build Google Yoda board. Yoda has MediaTek SoC
	  with Nuvoton NPCX997FB EC.

config BOARD_ANAKIN
	bool "Google Anakin Board"
	help
	  Build Google Anakin board. Anakin has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_BAZE
	bool "Google Baze Board"
	help
	  Build Google Baze board. Skywalker has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_TARKIN
	bool "Google Tarkin Board"
	help
	  Build Google Tarkin board. Tarkin has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_PADME
	bool "Google Padme Board"
	help
	  Build Google Padme board. Padme has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_GROGU
	bool "Google Grogu Board"
	help
	  Build Google Grogu board. Grogu has MediaTek SoC
	  with ITE IT82002 EC.

config BOARD_SKYWALKER_SINGLE_USB_TYPEC
	bool "Boards have only one USB-C port"
	default n
	help
	Enable board code for managing DP alt mode on
	the board which has a single USB-C port.

module = SKYWALKER
module-str = Skywalker board-specific code
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
