/* Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <board-overlays/native_posix.dts>
#include <dt-bindings/gpio_defines.h>

/ {
	/* GPIOs shared by all boards */
	named-gpios {
		compatible = "named-gpios";

		gpio_usb_c1_rst_odl: usb_c1_rst_odl {
			gpios = <&gpio0 1 GPIO_ODR_LOW>;
		};
		gpio_usb_c1_rt_int_odl: usb_c1_rt_int_odl {
			gpios = <&gpio0 2 GPIO_INPUT_PULL_UP>;
		};
		gpio_usb_c1_rt_rst_r_odl: usb_c1_rt_rst_r_odl {
			gpios = <&gpio0 3 GPIO_ODR_HIGH>;
		};
		gpio_usb_c1_frs_en: usb_c1_frs_en {
			gpios = <&gpio0 4 GPIO_ODR_HIGH>;
		};
		gpio_en_z1_rails: en_z1_rails {
			gpios = <&gpio0 5 GPIO_OUTPUT>;
		};
	};
};
