/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/ {
	/* Unused Stub */
	named-i2c-ports {
		compatible = "named-i2c-ports";

		named_i2c0: i2c0 {
			i2c-port = <&i2c0>;
			enum-names = "I2C_PORT_USB_MUX",
				     "I2C_PORT_BATTERY";
		};
	};

	usbc {
		#address-cells = <1>;
		#size-cells = <0>;

		usbc_port0: port0@0 {
			compatible = "named-usbc-port";
			reg = <0>;
			tcpc = <&tcpci_emul0>;
			chg = <&charger_emul>;
			usb-mux-chain-0 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_c0>;
			};
		};
		port0-muxes {
			virtual_mux_c0: virtual-mux-c0 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};

		usbc_port1: port1@1 {
			compatible = "named-usbc-port";
			reg = <1>;
			tcpc = <&tcpci_emul1>;
			usb-mux-chain-1 {
				compatible = "cros-ec,usb-mux-chain";
				usb-muxes = <&virtual_mux_c1>;
			};
		};
		port1-muxes {
			virtual_mux_c1: virtual-mux-c1 {
				compatible = "cros-ec,usbc-mux-virtual";
			};
		};
	};

	batteries {
		default_battery: lgc_ac17a8m {
			compatible = "lgc,ac17a8m", "battery-smart";
			/**
			 * this has to be strictly lower than the desired
			 * voltage in smart battery emulator (5000mV).
			 */
			voltage_min = <4000>;
		};
	};
};

&i2c0 {
	status = "okay";

	charger_emul: isl9241@9 {
		compatible = "intersil,isl9241";
		status = "okay";
		reg = <0x9>;
	};


	tcpci_emul0: tcpci_emul@10 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x10>;
	};

	tcpci_emul1: tcpci_emul@11 {
		compatible = "cros,tcpci-generic-emul";
		status = "okay";
		reg = <0x11>;
	};
};
