# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config RAURU_BOARD_HAS_HDMI_SUPPORT
	bool "Board supports HDMI sub-boards"
	default $(dt_nodelabel_enabled,gpio_en_hdmi_pwr)
	help
	  Enable board code for managing the state of HDMI connections on
	  the board.

config BOARD_RAURU
	bool "Google Rauru Board"
	help
	  Build Google Rauru reference board. Rauru has MediaTek SoC
	  with ITE it82202-ax EC.

config BOARD_NAVI
	bool "Google Navi Board"
	help
	  Build Google Navi board. Navi has MediaTek SoC
	  with ITE it82202-ax EC.

module = RAURU
module-str = Rauru board-specific code
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
