/* Copyright 2025 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&i2c0 {
	rt3645_emul: richtek-imvp@20 {
		compatible = "richtek,rt3645";
		status = "okay";
		reg = <0x20>;
	};
};
