# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig CROS_BBRAM_NPCX
	bool "Nuvoton NPCX battery backed RAM driver for Zephyr"
	depends on SOC_FAMILY_NPCX
	default y
	help
	  This enables the NPCX cros_bbram driver. The NPCX BBRAM module
	  provides 128 bytes of battery-backed memory area.

if CROS_BBRAM_NPCX

config CROS_BBRAM_NPCX_INIT_PRIORITY
	int "cros_bbram npcx initialization priority"
	default 11
	range 10 19
	help
	  This sets the npcx cros_bbram driver initialization priority. NPCX
	  chip uses BBRAM to save some system information that persists across
	  chip resets. The priority should be higher than
	  SYSTEM_PRE_INIT_PRIORITY & lower than CROS_SYSTEM_NPCX_INIT_PRIORITY.

endif # CROS_BBRAM_NPCX

config CROS_BBRAM_IT8XXX2
	bool "ITE IT81202 battery backed RAM driver for Zephyr"
	depends on SOC_FAMILY_RISCV_ITE
	default y
	help
	  This module provides 192 bytes of battery-backed memory area.

if CROS_BBRAM_IT8XXX2

config CROS_BBRAM_IT8XXX2_INIT_PRIORITY
	int "cros_bbram it8xxx2 initialization priority"
	default 11
	help
	  This sets the it8xxx2 cros_bbram driver initialization priority.

endif # CROS_BBRAM_IT8XXX2
