# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config TEST_CORSOLA_USBC
	bool "Run the tests intended for corsola"
	help
	  Include USB-C tests into the binary.

config TEST_KINGLER_USBC
	bool "Run the tests intended for kingler"
	help
	  Include USB-C tests into the binary.

config TEST_STEELIX_RUSTY
	bool "Run the tests intended for steelix and rusty"
	help
	  Include board_steelix.c into the binary to test the clamshell and
	  convertible.

config TEST_STEELIX_LED
	bool "Run the tests intended for steelix and rusty"
	help
	  Include steelix_led.c into the binary to test the LED
	  functions.

config TEST_FORM_FACTOR_CLAMSHELL
	bool "Run the tests intended for clamshells"
	help
	  Include clamshell tests into the binary.

config TEST_FORM_FACTOR_CONVERTIBLE
	bool "Run the tests intended for convertibles"
	help
	  Include convertible tests into the binary.

config VARIANT_CORSOLA_DB_DETECTION
	bool "Run the tests intended for corsola DB detection"
	help
	  Include variant_db_detection.c into the binary to test the type-c DB
	  tests, HDMI DB tests and none DB tests.

config TEST_DB_DETECT_TYPEC
	bool "Run the tests intended for type-c DB"
	help
	  Include type-c DB tests into the binary.
	  test for DB GPIOs and interrupt.

config TEST_DB_DETECT_HDMI
	bool "Run the tests intended for HDMI DB"
	help
	  Include HDMI DB tests into the binary.
	  test for DB GPIOs and interrupt.

config TEST_DB_DETECT_NONE
	bool "Run the tests intended for none DB"
	help
	  Include none DB tests into the binary.
	  test for DB GPIOs and interrupt.

config TEST_ALT_SENSOR_PROBE
	bool "Run the tests intended for alt sensor probe"
	help
	  Include alt_sensor.c into the binary to test the alt sensor probe via
	  SSFC.

config TEST_KINGLER_CCD
	bool "Run the tests intended for alt sensor probe"
	help
	  Include alt_sensor.c into the binary to test the alt sensor probe via
	  SSFC.

config TEST_VOLTORB
	bool "Run the tests intended for voltorb"
	help
	  Include voltorb_usbc.c into the binary to test the type-c output
	  current limit function.

config TEST_DISABLE_INLINE_CHIPSET_IN_STATE
	bool "Disable chipset_in_state inline method"
	help
	  This is used to not define chipset_in_state method as inline
	  function.

config TEST_USB_PD_POLICY
	bool "Run the tests intended for voltorb usb policy"
	select TEST_DISABLE_INLINE_CHIPSET_IN_STATE
	help
	  Include voltorb_usbc.c into the binary to test the type-c output
	  current limit function.

config TEST_DB_DETECTION_USB_COUNT
	bool "Run the tests intended for db detection"
	help
	  Include USB-C tests into the binary for testing the reported port
	  count with db detection.

config TEST_PONYTA
	bool "Run the tests intended for ponyta"
	help
	  Include ponyta_boart.c into the binary to test the alt sensor probe via
	  SSFC and clamshell or convertible.

source "Kconfig.zephyr"
