# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_TRULO
	bool "Google Trulo Board"
	help
	  Build Google Trulo reference board.  This board uses an Intel TWL SoC
	  and NUVATON EC

config BOARD_PUJJOCENTO
	bool "Google Pujjocento Board"
	help
	  Build Google Pujjocento reference board.  This board uses an Intel TWL SoC
	  and NPCX997FB0BX EC

config BOARD_PUJJOLO
	bool "Google Pujjolo Board"
	help
	  Build Google Pujjolo reference board.  This board uses an Intel TWL SoC
	  and Nuvoton EC

config BOARD_ULDRENITE
	bool "Google Uldrenite Board"
	help
	  Build Google Uldrenite reference board.  This board uses an Intel TWL SoC
	  and NPCX997FB0BX EC

module = Trulo
module-str = Trulo board-specific code
source "subsys/logging/Kconfig.template.log_config"

choice PLATFORM_EC_USBC_STACK
	default PLATFORM_EC_USB_PD_CONTROLLER
endchoice

source "Kconfig.zephyr"
