# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if BOARD_ET171

config FP_SENSOR_ALLOW_EXTERNAL_CALI_DATA
	bool
	default y if FINGERPRINT_SENSOR_EGIS630

endif