# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_NPCX7
	bool
	select SOC_NPCX7M7FC
	# NPCX doesn't actually have enough ram for coverage, but this will
	# allow generating initial 0 line coverage.
	select HAS_COVERAGE_SUPPORT
