# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

#
# This file defines the default config values shared by all NPCX chipsets
#

if SOC_FAMILY_NPCX

# Enable MPU for ARM targets
config ARM_MPU
	default y

# Enable NPCX firmware header generator
config NPCX_HEADER
	default y

choice NPCX_HEADER_SPI_MAX_CLOCK_CHOICE
	default NPCX_HEADER_SPI_MAX_CLOCK_50
endchoice

choice NPCX_HEADER_SPI_READ_MODE_CHOICE
	default NPCX_HEADER_SPI_READ_MODE_DUAL
endchoice

choice NPCX_HEADER_CORE_CLOCK_SPI_CLOCK_RATIO_CHOICE
	default NPCX_HEADER_CORE_CLOCK_SPI_CLOCK_RATIO_2
endchoice

# ADC
# The resolution and oversamplig values are fixed by the NPCX ADC driver
config PLATFORM_EC_ADC_RESOLUTION
	default 10

config PLATFORM_EC_ADC_OVERSAMPLING
	default 0

# Set the system clock to 15MHz.
config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 15000000

if WATCHDOG

# Set the delay time for printing panic data.
config WDT_NPCX_WARNING_LEADING_TIME_MS
	default 500

endif # WATCHDOG

# The maximum supported time the NPCX can spend in deep-sleep with instant
# wake is 200 ms, so the hook tick interval is set to match.
config CROS_EC_HOOK_TICK_INTERVAL
	default 200000

endif # SOC_FAMILY_NPCX
