# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_REX
	bool "Google Rex Baseboard"
	select BOARD_HAS_INVALID_CHIP_DEVICE_ID_WORKAROUND
	help
	  Build Google Rex reference board.  The board uses Nuvoton
	  NPCX9 chip as the EC.

config BOARD_SCREEBO
	bool "Google Screebo Board"
	select BOARD_HAS_INVALID_CHIP_DEVICE_ID_WORKAROUND
	help
	  Build Google Screebo variant board. The board uses Nuvoton
	  NPCX9 chip as the EC.

config BOARD_KARIS
	bool "Google Karis Board"
	help
	  Build Google Karis variant board. The board uses Nuvoton
	  NPCX9 chip as the EC.

config BOARD_HAS_INVALID_CHIP_DEVICE_ID_WORKAROUND
	bool
	help
	  Workaround the board of the Rex family which uses the sample chip
	  with the incorrect device ID.

config BOARD_REX_USBC_CONFIG
	bool "Rex board usbc configuration"
	default y
	help
	  Include baseboard rex usbc_config.c into binary. The usbc
	  usbc configuration is that TCPC C0 is NCT38XX and BC1.2
	  exists. Additionally, IOEX pins are defined.

module = REX
module-str = Rex board-specific code
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
