# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# TODO(b/176828988): enable by default once the code can compile
menuconfig CROS_FLASH_NPCX
	bool "Nuvoton NPCX flash driver for the Zephyr shim"
	depends on SOC_FAMILY_NPCX
	help
	  This option enables a flash unit interface (FIU) driver for the NPCX
	  chip. This is used instead of the flash memory interface so we can
	  continue to use most of the existing flash memory processing code in
	  ECOS.
